# This is the mnemonic string used to determine which wallet to use
# *** DO NOT CHECK THIS VALUE INTO SOURCE CONTROL OR YOUR ETHEREUM ACCOUNT WILL BE COMPROMISED ***

TESTNET_MNEMONIC=<insert your mnemonic here for testnet deployments>
MAINNET_MNEMONIC=<insert your mnemonic here for mainnet deployments>