node_modules
bin
dist

#Hardhat files
cache
artifacts
typechain/
.env

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/unknown-*.json
.openzeppelin/.session
coverage/
coverage.json

# IDEs
.idea
